display-settings {
  .button-md .label,
  .icon-md +.label {
    margin-left: 8px;
  }
  .button-ios .label,
  .icon-ios +.label {
    margin: 0 0 2px 5px;
  }

  .settings-occurrences-times {
    ion-select {
      display: inline-block;
      padding: 0;
      margin: 0;
      max-width: none;
      background: color($colors, 'interaction');
      color: color($colors, 'light');

    }
    .select {
      .select-text {
        padding: 0 1rem .2rem 1rem;
      }
      .select-icon {
        position: absolute;
        height: 19px;
        width: 100%;
        text-align: center;

        .select-icon-inner {
          position: relative;
          left: calc(50% - 5px);
          top: 1px;
          right: 0;
          margin: 0;
          padding: 0;
          color: color($colors, 'dark');
        }
      }
    }
  }


  .settings-sensitive-case {
    ion-item {
      font-size: $font-size-base;
    }
  }

  [color='danger'] {
    color:color($colors, 'danger');
  }
}
