display-settings {
  .button-md .label,
  .icon-md + .label {
    margin-left: 1rem;
  }

  .button-ios .label,
  .icon-ios + .label {
    margin: 0 0 2px 5px;
  }

  .read-more-wrap.closed .read-more-target {
    border: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;

    ion-searchbar {
      height: 0;
      min-height: 0;
    }

    .searchbar-input-container,
    [has-transition] {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }

    [has-transition-content] * {
      opacity: 0;
    }
  }

  .read-more-wrap.opened .read-more-target {
    border: 1px dashed color($colors, 'interaction');
    max-height: 999em;
    overflow: visible;
    padding: $content-padding;

    // DISPLAY
    ion-searchbar {
      height: auto;
      min-height: 44px;
    }

    .searchbar-input-container,
    [has-transition] {
      max-height: 999em;
      opacity: 1;
      overflow: visible;
    }

    [has-transition-content] * {
      opacity: 1;
    }

    // TRANSITIONS
    .searchbar-input-container,
    [has-transition],
    [has-transition-content] * {
      transition: opacity 250ms ease-in-out;
    }

    $max: 1000;
    $step: 5;

    @for $i from $step through $max {
      $value: ($i % $max);

      @if $i % 50 == 0 {
        $delay: ($i) * .6ms;

        [data-transition-delay-#{$value}],
        [data-transition-delay-#{$value}] .searchbar-input-container,
        [data-transition-delay-#{$value}].ion-searchbar,
        [data-transition-delay-#{$value}-content],
        [data-transition-delay-#{$value}-content] .searchbar-input-container *,
        [data-transition-delay-#{$value}-content].ion-searchbar,
        [data-transition-delay-#{$value}-content] * {
          transition-delay: $delay;
        }
      }
    }
  }

  .settings-occurrences-times {
    ion-select {
      background: color($colors, 'interaction');
      color: color($colors, 'light');
      display: inline-block;
      margin: 0;
      max-width: none;
      padding: 0;
    }

    .select {
      .select-text {
        padding: 0 1rem .2rem;
      }

      .select-icon {
        height: 19px;
        position: absolute;
        text-align: center;
        width: 100%;

        .select-icon-inner {
          color: color($colors, 'dark');
          left: calc(50% - 5px);
          margin: 0;
          padding: 0;
          position: relative;
          right: 0;
          top: 1px;
        }
      }
    }
  }

  .settings-sensitive-case {
    ion-item {
      font-size: $font-size-base;
    }
  }
}
