<ion-header>
    <ion-navbar>
        <ion-title color="primary">
            Ionic Occurences
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <div>

        <h1 text-uppercase>Source</h1>
        <ion-row align-items-center justify-item-left>
            <ion-col col-auto>
                <!-- Button to show the text -->
                <button class="read-more-button data-buttons"
                        ion-button
                        small
                        color="interaction"
                        no-margin
                        (click)="onReadMoreText()">
                    {{readMoreTextOpened ? 'Hide source' : 'Show source'}}
                </button>
            </ion-col>
            <ion-col col-auto>
                <!-- Button to apply on a random text -->
                <button class="data-buttons"
                        ion-button
                        small
                        color="interaction"
                        (click)="shuffle()"><ion-icon name="shuffle"></ion-icon></button>
            </ion-col>
            <ion-col col-auto>
                <!-- Button to apply on a user text -->
                <button class="data-buttons"
                        ion-button
                        small
                        color="interaction"
                        (click)="swap()"><ion-icon name="swap"></ion-icon></button>
            </ion-col>
        </ion-row>

        <!-- the text -->
        <div class="read-more-wrap read-more-wrap-text" [ngClass]="readMoreTextOpened ? 'opened' : 'closed'" no-margin no-padding margin-vertical>
            <div class="read-more-target"
                 no-margin
                 no-padding
                 [ngClass]="readMoreTextOpened ? 'opened' : 'closed'">
                <p class="text" text-justify no-margin no-padding>{{text}}</p>
            </div>
        </div>
    </div>

    <!-- Stats: global -->
    <h1>Global Stats</h1>
    <ion-row class="global-stats" *ngIf="textOccurrences && textOccurrences.meta">
        <ion-col col-2 text-center>
            <span class="value"><ion-badge color="dark">{{textOccurrences.meta.totalWords}}</ion-badge></span>
            <span class="label" text-uppercase>Total<br/>Words</span>
        </ion-col>
        <ion-col col-3 text-center>
            <span class="value"><ion-badge color="dark">{{textOccurrences.meta.differentWords}}</ion-badge></span>
            <span class="label" text-uppercase>Different<br/>Words</span>
        </ion-col>

        <ion-col col-4 text-center>
            <span class="value"><ion-badge color="dark">{{textOccurrences.meta.charsWS}}</ion-badge></span>
            <span class="label" text-uppercase>Characters<br/>(with spaces)</span>
        </ion-col>
        <ion-col col-3 text-center>
            <span class="value"><ion-badge color="dark">{{textOccurrences.meta.charsNS}}</ion-badge></span>
            <span class="label" text-uppercase>Characters<br/>(no space)</span>
        </ion-col>
    </ion-row>

    <!-- Stats: details -->
    <h1>Details</h1>
    <ion-row align-items-center margin-bottom>
        <ion-col>
            <button class="read-more-button"
                    ion-button
                    small
                    color="interaction"
                    no-margin
                    (click)="onReadMoreSettings()">
                {{readMoreSettingsOpened ? 'Close display settings' : 'Show display settings'}}
            </button>
        </ion-col>
        <ion-col *ngIf="displayedWords">
            Displaying: {{displayedWords}} words
        </ion-col>
    </ion-row>

    <!-- DISPLAY SETTINGS FOR THE LIST -->
    <div class="read-more-wrap" [ngClass]="readMoreSettingsOpened ? 'opened' : 'closed'">
        <div class="read-more-target"
             padding
             [ngClass]="readMoreSettingsOpened ? 'opened' : 'closed'">

            <!-- CRITERION: SEARCH A WORD OR CHARS-->
            <ion-searchbar
                    has-transition
                    no-margin
                    margin-bottom
                    [(ngModel)]="searchTerm"
                    (ionInput)="setFilteredItems($event)"
                    (ionClear)="setFilteredItems($event)"></ion-searchbar>

            <!--CRITERION: ORDER LIST BY NUMBER OF APPEARANCES IN THE TEXT (ASC OR DESC)-->
            <p class="order-buttons"
               has-transition
               data-transition-delay-150
               no-margin
               margin-bottom>Order list by occurrences
                <button ion-button
                        small
                        color="interaction"
                        (click)="sort('desc')">
                    <ion-icon name="trending-down"></ion-icon></button>
                <button ion-button
                        small
                        color="interaction"
                        (click)="sort('asc')">
                    <ion-icon name="trending-up"></ion-icon></button>
            </p>

            <!-- CRITERION: FILTER LIST DEPENDING OF LENGTH'S WORDS-->
            <div class="filter-length"
                 has-transition
                 data-transition-delay-250
                 no-margin
                 margin-bottom>
                <p>Display words from <ion-badge color="light">{{rangeLength.lower}}</ion-badge> to <ion-badge color="light">{{rangeLength.upper}}</ion-badge> characters.</p>
            </div>
            <div class="range-occurences"
                 has-transition
                 has-transition-content
                 data-transition-delay-350-content
                 no-margin
                 margin-bottom>
                <ion-range color="interaction"
                           no-margin
                           no-padding
                           dualKnobs="true"
                           *ngIf="textOccurrences"
                           [min]="textOccurrences.smallest[0] ? textOccurrences.smallest[0].length : 0"
                           [max]="textOccurrences.longest[0] ? textOccurrences.longest[0].length : 0"
                           [(ngModel)]="rangeLength"
                           (ionChange)="setFilteredItems($event)">
                    <ion-label range-left>{{textOccurrences.smallest[0] ? textOccurrences.smallest[0].length : 0}}</ion-label>
                    <ion-label range-right>{{textOccurrences.longest[0] ? textOccurrences.longest[0].length : 0}}</ion-label>
                </ion-range>
            </div>

            <!-- CRITERION: FILTER LIST BY NUMBER OF APPEARANCES IN THE TEXT (GREATER OR LESS THAN CHOSEN BY USER) -->
            <div class="settings-occurrences-times"
                 has-transition
                 data-transition-delay-450
                 no-margin
                 margin-bottom>
                <ion-row align-items-start justify-content-start>
                    <ion-col col-auto>Display words that appear&nbsp;</ion-col>
                    <ion-col col-auto>
                        <ion-select item-start
                                    no-padding
                                    text-center
                                    [(ngModel)]="timesSettingType"
                                    (ionChange)="setFilteredItems()"
                                    interface="action-sheet">
                            <ion-option *ngFor="let valType of timesSettings('type')">{{valType}}</ion-option>
                        </ion-select>
                    </ion-col>
                    <ion-col col-auto>&nbsp;than&nbsp;</ion-col>
                    <ion-col col-auto>
                        <ion-select item-start
                                    no-padding
                                    text-center
                                    [(ngModel)]="timesSettingNb"
                                    (ionChange)="setFilteredItems()"
                                    interface="action-sheet">
                            <ion-option *ngFor="let valNb of timesSettings('nb')">{{valNb}}</ion-option>
                        </ion-select>&nbsp;
                    </ion-col >
                    <ion-col col-auto>times&nbsp;</ion-col>
                    <ion-col col-auto>&nbsp;(or&nbsp;</ion-col>
                    <ion-col col-auto>&nbsp;equal&nbsp;</ion-col>
                    <ion-col col-auto>&nbsp;to)&nbsp;</ion-col>
                    <ion-col col-auto>in&nbsp;</ion-col>
                    <ion-col col-auto>the&nbsp;</ion-col>
                    <ion-col col-auto>text.</ion-col>
                </ion-row>
            </div>

            <!-- CRITERION: sensitive case -->
            <div class="settings-sensitive-case"
                 has-transition
                 data-transition-delay-550
                 no-margin>
                <ion-checkbox
                        color="interaction"
                        margin-right
                        [(ngModel)]="sensitiveCase"
                        (ionChange)="createStats(true)">
                </ion-checkbox>
                <span>Sensitive case</span>
            </div>


            <!-- CLEAR ALL SETTINGS -->
            <button class="settings-clear"
                    ion-button
                    small
                    color="interaction"
                    margin-top
                    has-transition
                    data-transition-delay-650
                    (click)="onClearAllSettings()">
                Clear all settings
            </button>

        </div>
    </div>

    <!-- THE LIST -->
    <ion-item *ngFor="let item of stats" padding-horizontal>
        <span>{{ item.value }}</span>
        <ion-badge color="dark" item-end>{{ item.number }}</ion-badge>
    </ion-item>

    <!-- Message if list is empty because of the settings -->
    <p *ngIf="displayedWords===0">Your criteria set is not matching any words.</p>

</ion-content>
