page-home {
  .data-title {
    display: inline-block;
    vertical-align: super;
  }

  .data-buttons {
    vertical-align: text-bottom;
  }
  .text {
    user-select: text;
    font-family: $font-family-text;
    white-space: pre-wrap;
  }
  .global-stats {
    .label, .value {
      display: block;
      font-size: 1.1rem;
    }
    .value {
      font-size: 2.5rem;
    }
  }

  .details {
    button {
      vertical-align: middle;
    }
  }


  .read-more-wrap {
    &.closed .read-more-target{
      overflow: hidden;
      max-height: 0;

      ion-searchbar {
        min-height: 0;
        height: 0;
      }
      .searchbar-input-container,
      [has-transition] {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
      }

      [has-transition-content] * {
        opacity: 0;
      }
    }

    &.opened .read-more-target{

      overflow: visible;
      max-height: 999em;

      // DISPLAY
      ion-searchbar {
        min-height: 44px;
        height: auto;
      }

      .searchbar-input-container,
      [has-transition] {
        opacity: 1;
        max-height: 999em;
        overflow: visible;
      }

      [has-transition-content] * {
        opacity: 1;
      }

      // TRANSITIONS
      .searchbar-input-container,
      [has-transition],
      [has-transition-content] *{
        transition: opacity 250ms ease-in-out;
      }

      $max: 1000;
      $step: 5;
      @for $i from $step through $max {
        $value: ($i % $max);
        @if $i%50 == 0 {
          $delay: ($i) * 1ms;
          [data-transition-delay-#{$value}] {
            .searchbar-input-container,
            &ion-searchbar {
              transition-delay: $delay;
            }
            transition-delay: $delay;
          }
          [data-transition-delay-#{$value}-content] {
            .searchbar-input-container *,
            &ion-searchbar *{
              transition-delay: $delay;
            }
            * {
              transition-delay: $delay;
            }
          }
        }
      }
    }
  }


  .settings-occurrences-times {
    ion-select {
      display: inline-block;
      padding: 0;
      margin: 0;
      max-width: none;
      background: color($colors, 'interaction');
      color: color($colors, 'light');

    }
    .select {
      .select-text {
        padding: 0 1rem .2rem 1rem;
      }
      .select-icon {
        position: absolute;
        height: 19px;
        width: 100%;
        text-align: center;

        .select-icon-inner {
          position: relative;
          left: calc(50% - 5px);
          top: 1px;
          right: 0;
          margin: 0;
          padding: 0;
          color: color($colors, 'dark');
        }
      }
    }
  }

}
