<ion-header>
    <ion-navbar color="navbar">
        <ion-title text-uppercase text-center>
            Statsify
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <h1 text-uppercase>Source</h1>

    <!-- the text -->
    <data-source *ngIf="isReady" #dataSource (onShuffle)="init()" (onSwap)="swap()">{{text}}</data-source>

    <!-- STATS: GLOBAL -->
    <h1>Global Stats</h1>

    <global-stats *ngIf="isReady" [meta]="textOccurrences.meta" [specials]="{lessUsed:textOccurrences.lessUsed, mostUsed:textOccurrences.mostUsed, smallest:textOccurrences.smallest, longest:textOccurrences.longest}"></global-stats>


    <!-- STATS: DETAILS -->
    <h1>Details</h1>

    <!-- Settings for the list to display -->
    <display-settings
            *ngIf="isReady && textOccurrences"
            #displaySettings
            [displayedWords]="stats.length"
            [minLength]="textOccurrences.smallest[0] ? textOccurrences.smallest[0].length : 0"
            [maxLength]="textOccurrences.longest[0] ? textOccurrences.longest[0].length : 0"
            [minOccurrences]="limitsOccurrences.min"
            [maxOccurrences]="limitsOccurrences.max"
            (onSettingsChanged)="filterList($event)"
    ></display-settings>

    <!--<ion-row align-items-center justify-content-start>-->
        <!--<ion-col col-auto>-->
            <!--<p no-margin no-padding>Wanna visual stats ?&nbsp;</p>-->
        <!--</ion-col>-->
        <!--<ion-col col-auto>-->
            <!--<button ion-button-->
                    <!--small-->
                    <!--color="interaction"-->
                    <!--[navPush]="graphicsPage"-->
                    <!--[navParams]="graphicsParams">-->
                <!--<ion-icon name="stats"></ion-icon>-->
            <!--</button>-->
        <!--</ion-col>-->
    <!--</ion-row>-->

    <!-- The list -->
    <ion-item *ngFor="let item of stats" padding-horizontal>
        <span>{{ item.value }}</span>
        <ion-badge color="dark" item-end>{{ item.number }}</ion-badge>
    </ion-item>


</ion-content>
