<ion-row>
  <ion-col col-2 text-center>
    <span class="value"><ion-badge color="dark">{{meta.totalWords}}</ion-badge></span>
    <span class="label" text-uppercase>Total<br/>Words</span>
  </ion-col>
  <ion-col col-3 text-center>
    <span class="value"><ion-badge color="dark">{{meta.differentWords}}</ion-badge></span>
    <span class="label" text-uppercase>Different<br/>Words</span>
  </ion-col>

  <ion-col col-4 text-center>
    <span class="value"><ion-badge color="dark">{{meta.charsWS}}</ion-badge></span>
    <span class="label" text-uppercase>Characters<br/>(with spaces)</span>
  </ion-col>
  <ion-col col-3 text-center>
    <span class="value"><ion-badge color="dark">{{meta.charsNS}}</ion-badge></span>
    <span class="label" text-uppercase>Characters<br/>(no space)</span>
  </ion-col>
</ion-row>

<div margin-top class="usages">

  <div *ngIf="specials">
    <div *ngFor="let key of specialsKey">
      <p class="label" no-margin text-uppercase margin-top>
        {{ refKeyName[key] || key }} used word<span *ngIf="specials[key].length>1">s</span>:
      </p>
      <p class="words" no-margin margin-horizontal *ngIf="specials[key]">{{ specials[key].join( ', ' ) }}</p>
    </div>
  </div>

</div>

