// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: multi;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$h1-font-size: 2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1rem;
$h6-font-size: 0.8rem;

$grid-padding-width:0px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// for default theme
$colors: (
        primary:    #091540,
        secondary:  #1D3461,
        tertiary:       #7692FF,
        interaction:      #084887,
        danger:     #BF1A2F,
        light:        #D3E7FF,
        dark:         #ABD2FA,
);

// for dark theme
//$colors: (
//  primary:    #D3E7FF,
//  secondary:  #ABD2FA,
//  tertiary:       #ffffff,
//  interaction:      #084887,
//  danger:     #BF1A2F,
//  light:        #091540,
//  dark:         #1D3461,
//);

$text-color: color($colors, 'secondary');

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$range-ios-knob-background-color:       color($colors, 'interaction');
$searchbar-ios-background-color:        color($colors, 'interaction');
$searchbar-ios-input-text-color:        color($colors, 'interaction');
$searchbar-ios-input-clear-icon-color:  color($colors, 'interaction');
$searchbar-ios-input-search-icon-color: color($colors, 'interaction');
$searchbar-ios-input-placeholder-color: color($colors, 'interaction');

$toolbar-ios-title-text-color:          color($colors, 'primary');



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$range-md-knob-background-color:        $range-ios-knob-background-color;
$searchbar-md-background-color:         $searchbar-ios-background-color;
$searchbar-md-input-clear-icon-color:   $searchbar-ios-input-clear-icon-color;
$searchbar-md-input-search-icon-color:  $searchbar-ios-input-search-icon-color;
$searchbar-md-input-text-color:         $searchbar-ios-input-text-color;
$searchbar-md-input-placeholder-color:  $searchbar-ios-input-placeholder-color;

$toolbar-md-title-text-color:           $toolbar-ios-title-text-color;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$range-wp-knob-background-color:        $range-ios-knob-background-color;
$searchbar-wp-background-color:         $searchbar-ios-background-color;
$searchbar-wp-input-clear-icon-color:   $searchbar-ios-input-clear-icon-color;
$searchbar-wp-input-search-icon-color:  $searchbar-ios-input-search-icon-color;
$searchbar-wp-input-text-color:         $searchbar-ios-input-text-color;
$searchbar-wp-input-placeholder-color:  $searchbar-ios-input-placeholder-color;

$toolbar-wp-title-text-color:           $toolbar-ios-title-text-color;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

//@import "ionic.theme.dark";
@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

$font-family-text: 'Crimson Text', serif;
$font-family-base: 'Lato', 'Work Sans', 'Roboto', sans-serif;
$font-family-md-base: $font-family-base;
$font-family-wp-base: $font-family-base;
